{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "NylasEnv": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "no-console": [1],
    "react/sort-comp": [1, {
      "order": [
        'displayName',
        'containerStyles',
        'static-methods',
        'lifecycle',
        'everything-else',
        'render'
      ]
    }]
  }
}
