@import "ui-variables";

.pgp-message-header {
  display: block;
  background-color: mix(@background-primary, #f0ad4e, 80%);
  border: 1px solid darken(mix(@background-primary, #f0ad4e, 50%), 25%);
  color: fade(mix(@text-color-subtle, #f0ad4e, 80%), 70%);
  margin: @padding-base-vertical 0;
  padding: @padding-base-vertical @padding-base-horizontal;

  .option {
    color: fade(mix(@text-color-subtle, #f0ad4e, 80%), 70%);
  }
  .option:hover {
    color: mix(@text-color-subtle, #f0ad4e, 80%);
  }
}
.pgp-message-header-error {
  background-color: mix(@background-primary, #A03232, 80%);
  border: 1px solid darken(mix(@background-primary, #A03232, 50%), 25%);
  color: mix(@text-color-subtle, #e64d65, 80%);
}
.pgp-message-header-info {
  background-color: mix(@background-primary, @blue-dark, 80%);
  border: 1px solid darken(mix(@background-primary, @blue-dark, 50%), 25%);
  color: mix(@text-color-subtle, @blue-dark, 80%);
}
.pgp-message-header-success {
  background-color: mix(@background-primary, @color-success, 80%);
  border: 1px solid darken(mix(@background-primary, @color-success, 50%), 10%);
  color: mix(@text-color-subtle, @color-success, 80%);
}

.container-pgp-mail {
  .setting-name {
    max-width: 110px;
    flex: 1;
    margin-right: 10px;
  }

  .setting-value {
    flex: 1;
  }

  .keybase-username {
    padding-bottom: 0.25em;
  }

  .keybase-username, .keybase-password {
    vertical-align: middle;
  }

  .keybase-sigchain {
    .btn-primary {
      color: @text-color-selected;
      background-color: @color-info;
    }

    .bg-green {
      background-color: #dff0d8
    }

    .sigchain-table {
      width: 100%;

      td {
        padding-left: 1em;
      }
    }
  }
}

.pgp-composer {
  .menu {
    width: 250px;

    .item {
      padding-top: 0;
      padding-right: @padding-base-horizontal;
    }
  }

  .divider {
    border-top: 1px solid @border-color-divider;
  }

  .submit-section {
    padding: @padding-base-vertical  @padding-base-horizontal;
    padding-bottom: @padding-base-vertical * 1.2;
    .btn {
      width: 100%;
    }
  }

  .keybase-username {
    display: block;
  }
}

.sidebar-keybase {
  .social-profiles {
    border-top: 0;
    padding-top: 0;
  }
}
