@import "ui-variables";
@import "ui-mixins";

.statusBox {
  display: block;
  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 6px;
  padding-left: 12px;
  //padding: 6px 4px 2px 12px;
}

.statusBox p:last-child {
  margin-bottom: 0;
}

.errorBox {
  //color: rgb(169, 68, 66);
  //background-color: rgb(242, 222, 222);
  color: #a03232;
  background-color: rgba(255, 0, 0, 0.1);
}

.indicatorBox {
  color: hsl(396, 50%, 34%);
  background-color: hsl(396, 62%, 87%);
}

.container-pgp-mail {
  //.item {
  //  input {
  //    margin: 0 0 0 8px;
  //  }
  //}

  .setting-name {
    max-width: 110px;
    flex: 1;
    margin-right: 10px;
  }

  .setting-value {
    flex: 1;
  }
}

.pgp-menu-picker {
  .form {
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
  }

  .generated-form {
    .fieldset-form-items .row {
      margin-top: 2px;
    }
  }

  .form-footer, button {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .popover {
    max-width: 400px !important;
    width: 300px !important;
  }

  .menu {
    .footer-container,
    .header-container {
      display:none;
    }

    .content-container {
      max-height: 200px;
      max-width: 200px;
      overflow: scroll;
    }
  }
}
