.smalltalk {
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;

  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;

  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;

  z-index: 100;
}

.smalltalk .page {
  border-radius: 3px;
  background: white;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  color: #333;
  min-width: 400px;
  padding: 0;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 500px) {
  .smalltalk .page {
    min-width: 0;
  }
}

.smalltalk .page > .close-button {
  background-image: url(nylas://email-pgp/images/IDR_CLOSE_DIALOG.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

.smalltalk .page > .close-button:hover {
  background-image: url(nylas://email-pgp/images/IDR_CLOSE_DIALOG_H.png);
}

.smalltalk .page header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 500px;

  -webkit-user-select: none;
  user-select: none;
  color: #333;
  font-size: 120%;
  font-weight: bold;
  margin: 0;
  padding: 14px 17px 14px;
  text-shadow: white 0 1px 2px;
}

.smalltalk .page .content-area {
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 6px 17px 6px;
  position: relative;
  max-width: 500px;
}

.smalltalk .page .action-area {
  padding: 14px 17px;
}

.smalltalk .page .button-strip {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display:flex;

  flex-direction: row;
  justify-content: flex-end;
}

.smalltalk .page .button-strip > button {
  -webkit-margin-start: 10px;
}

/* .smalltalk button:enabled:focus, */
.smalltalk input:enabled:focus {
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
  border-color: rgb(77, 144, 254);
  outline: none;
}

.smalltalk button, .smalltalk .smalltalk {
  min-height: 2em;
  min-width: 4em;
}

.smalltalk input {
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  margin: 0;
  min-height: 2em;
  padding: 3px;
  outline: none;
}
